@model Clinic.Models.Patient

@{
    ViewData["Title"] = "Patient Details";
}

<h2>Patient Details</h2>

<dl class="row">
    <dt class="col-sm-2">@Html.DisplayNameFor(m => m.FullName)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(m => m.FullName)</dd>

    <dt class="col-sm-2">@Html.DisplayNameFor(m => m.Age)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(m => m.Age)</dd>

    <dt class="col-sm-2">@Html.DisplayNameFor(m => m.PhoneNum)</dt>
    <dd class="col-sm-10">@Html.DisplayFor(m => m.PhoneNum)</dd>
</dl>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</p>
